body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, var(--teriatry-950), var (--black));
    color: var(--white);

}

a {
    text-decoration: none;
    border: solid 1px black;
    color: var(--white);
    padding: 12px 48px;
    margin: 50px;
}

.subtitle {
    margin-top: 50px;
}

.content{
    text-align: center;
}

